@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-monteserrat text-dark;
  }
}

@layer utilities {
  .custom-clip-path {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: gray;
  }

  .invisible-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-radius: 2px;
  }

  .invisible-scrollbar::-webkit-scrollbar-track {
    background: #fff;
  }


  .invisible-scrollbar::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 50px;
  }

  .invisible-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  .dropdown-shadow{
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.40), 0px 8px 24px -6px rgba(0, 0, 0, 0.16);
  }
}